.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    min-height: 0;
}

.logo-container {
    margin-right: 20px;
}

.app-logo {
    height: 60px; /* Ajusta el tamaño del logo según sea necesario */
}

.app-title {
    margin: 0;
    font-size: 2em;
    color: #333;
    text-align: center;
    flex-grow: 1;
}

/* Media queries para el encabezado */
@media (max-width: 767px) {
    .main-header {
        flex-direction: column; /* Apilar elementos en pantallas pequeñas */
        text-align: center;
    }
    .app-title {
        font-size: 1.5em; /* Reducir tamaño de fuente */
        margin-top: 10px; /* Espacio entre logo y título */
    }
    .logo-container {
        margin-right: 0; /* Eliminar margen derecho */
    }
}

@media (max-width: 480px) { /* Para teléfonos muy pequeños */
    .app-title {
        font-size: 1.2em;
    }
}