{% extends "layout.html" %}
{% block content %}
<div class="banner-background" style="background-image: url({{ url_for('static', filename='img/banderines-festivos.png') }});"></div>
<div class="game-main-content">
    <div class="d-flex align-items-center justify-content-center mb-3">
        <img src="{{ url_for('static', filename='img/nova_gif.gif') }}" alt="nova" class="img-fluid" style="max-width: 35.13vw;">
        <div id="nova-speech" class="alert alert-info ms-3" style="display: none; max-width: 60vw;"></div>
    </div>
    <h1 class="mb-1 h4">¡Hola! Soy Nova.</h1>
    <p class="lead mb-1" id="challenge-text">Te propongo un reto, ¿qué tanto conoces de nuestro colegio?</p>

    <div id="quiz-container" class="card pt-4 px-4 shadow-lg" style="display: block; max-width: 600px; width: 90%; padding-bottom: 0.75rem;">
        <p class="card-title h4 fw-bold mb-3 pb-2 border-bottom" id="question-text"></p>
        <div id="options-container" class="d-grid gap-3">
            <!-- Opciones se insertarán aquí por JS -->
        </div>
    </div>
    <p class="lead mb-4" id="feedback-text" style="color: red; display: none;"></p>
</div>
<script src="{{ url_for('static', filename='js/game_challenge.js') }}"></script>
{% endblock %}